
/* =============================================================================
   Typography
   ========================================================================== */

	a, h1, h2, h3, h4 { color:#366299; }	

/* =============================================================================
   Header Styles
   ========================================================================== */	 

	body { background:#dbf0ff; margin:0px; padding:0px; color:#366299; }
	#header { background: url(../images/_header_logo.gif) no-repeat; height:200px;}	
  	#banner {display:none; }
	#logo {  margin-top:65px; margin-left:15px;  }
	
/* =============================================================================
   Menu Styles
   ========================================================================== */
 
	.menu { background: #366299 url(../images/menu.gif) top left repeat-x; height:50px;  }
	.menu li, .menu li:hover  { background:url(../images/menu_spacer.png) top right no-repeat;}	
	.menu li a {color: #fff;} 

/* =============================================================================
   Sidebar Styles
   ========================================================================== */
 
 	.category li a {background: transparent url(../images/icon-category.png) no-repeat 5px 6px;  }
	.category li a:hover {background: transparent url(../images/icon-category-hover.png) no-repeat 5px 6px; ; }
	 
/* =============================================================================
   Home Styles
   ========================================================================== */
   
	#homeCategories ul li  { background: url('../images/folder.png') no-repeat 8px 6px !important; }
  
/* =============================================================================
   Footer Styles
   ========================================================================== */

	#footer { background: #366299; }
	#footer h3 {color: #fff; }
	
/* =============================================================================
   Object / Box Styles
   ========================================================================== */
	
	.itembox { border:1px solid #366299; }
	.itembox h2, .itembox h1,.itembox h1 a {color: #fff; background: #366299; }
	.greybg, .itemboxinner { background:#ebf4ff }
	.widget li a, .category li a { border-bottom:1px solid #ddd; }
	
/* =============================================================================
   Slider 1 Styles
   ========================================================================== */
	
	#siteFeature {position:relative;  background:#efefef; border:1px solid #fff; }
	#siteFeature #tabContainer a:link, #siteFeature #tabContainer a:visited { background: transparent url(../images/_slider_inactive.png) no-repeat; }
	#siteFeature #tabContainer a:hover{ background:#fff url(../images/_slider_inactive1.png) no-repeat; }
	#siteFeature #tabContainer a h4 { color: #666; padding:10px 11px 0px 11px; }	
	#siteFeature #tabContainer a.selected h4, #siteFeature #tabContainer a.selected p { color: #fff; text-shadow: 0px 1px 0px #666; }	
	
	#siteFeature #txtBoxContainer a { color:#fff;} 
	#siteFeature h3 { color:#fff; } 

/* =============================================================================
   Submission Page Style
   ========================================================================== */
	
	#steptable div.stepped h4 { color:#fff; }