
/* =============================================================================
   Typography
   ========================================================================== */

	a, h1, h2, h3, h4 { color:#444; }	

/* =============================================================================
   Header Styles
   ========================================================================== */	 
 
	body {    font: 14px/19px Arial,sans-serif;    background-color: #ff9202;    background-image: url(../images/background.gif);    background-repeat: repeat-x;    color: #000;}
 	.wrapper { -webkit-box-shadow: 0 0 0px #cccccc; -moz-box-shadow: 0 0 8px #cccccc;  	-webkit-box-shadow: 0 0 8px #ccc;  	box-shadow:0px 0px 15px #ccc;	-webkit-transition: -webkit-box-shadow 0.9s ease;	-moz-transition: -moz-box-shadow 0.9s ease-in-out}
	#widecolumn .wrapper  {-webkit-box-shadow: #CCC 0px 0px 0px; border:0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -webkit-transition: -webkit-box-shadow 0s ease; -moz-transition: -moz-box-shadow 0s ease-in-out;}
	#header {  height:100px;overflow:hidden;  background:#fff;    }

/* =============================================================================
   Menu Styles
   ========================================================================== */
  
	.menu { background: #ff9202 url(../images/menu.gif) top left repeat-x; }	
	.menu li a {color: #fff;}

/* =============================================================================
   Object / Box Styles
   ========================================================================== */
	
	.itembox { border:1px solid #ffb614; }
	.itembox h2, .itembox h1,.itembox h1 a {color: #fff; background: #efffe2 url(../images/sidebar-box-top.gif) !important; }
	.greybg, .itemboxinner { background:#fff7e4 }
	.widget li a, .category li a { border-bottom:1px solid #ffb614; }

/* =============================================================================
   Slider 1 Styles
   ========================================================================== */

	#siteFeature {position:relative;  background:#efefef; border:1px solid #fff; }
	#siteFeature #tabContainer a:link, #siteFeature #tabContainer a:visited { background: transparent url(../images/_slider_inactive.png) no-repeat; }
	#siteFeature #tabContainer a:hover{ background:#fff url(../images/_slider_inactive1.png) no-repeat; }
	#siteFeature #tabContainer a h4 { color: #666; padding:10px 11px 0px 11px; }	
	#siteFeature #tabContainer a.selected h4, #siteFeature #tabContainer a.selected p { color: #fff; text-shadow: 0px 1px 0px #666; }	
	
	#siteFeature #txtBoxContainer a { color:#fff;} 
	#siteFeature h3 { color:#fff; } 
	
/* =============================================================================
   Submission Page Style
   ========================================================================== */
	
	#steptable div.stepped h4 { color:#fff; }	